body {
  background-color: rgb(188, 243, 247);
  text-align: center;
}

button {
  border-style: none;
  background-color: cornflowerblue;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
}

#number {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-weight: bold;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven {
  border: 1px solid black;
  font-size: 30px;

  width: 130px;
  height: 130px;
  border-radius: 50%;

  border-style: none;
}

#one {
  background-color: rgba(247, 58, 58, 0.849);
}
#two {
  background-color: rgb(52, 52, 235);
  color: white;
}

#three {
  background-color: yellow;
}

#four {
  background-color: green;
  color: white;
}
#five {
  background-color: orange;
}

#six {
  background-color: navy;
  color: white;
}

#seven {
  background-color: purple;
}
